<md-content class="padded-content-page">
    <p class="md-subhead">Triangular includes an enormous set of Material Design Avatars. Amazing details and unlimited combination. Includes original Adobe Illustrator file as well as 1440 exported images</p>

    <div layout="row" class="intro-feature-row" layout-wrap ng-repeat="avatars in avatarRows">
        <widget title="{{avatar.title}}" subtitle="{{avatar.subtitle}}" md-theme="red" background="primary" title-position="bottom" overlay-title class="text-center" palette-background="{{avatar.color}}:{{avatar.hue}}" ng-repeat="avatar in avatars">
            <img src="{{avatar.image}}" />
        </widget>
    </div>

    <md-grid-list md-cols="6" md-cols-sm="4" md-row-height="1:1" md-gutter="4px">
        <md-grid-tile md-rowspan="{{avatar.rowspan}}" md-colspan="{{avatar.colspan}}" ng-repeat="avatar in avatars" ng-style="{ 'background-image': 'url(' + avatar.image + ')', 'background-size' : 'cover' }" palette-background="{{avatar.color}}:{{avatar.hue}}">
            <md-grid-tile-footer>
                <h3>{{avatar.title}}</h3>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</md-content>