<div class="padding-20 padding-top-200 overlay-gradient-30" layout="row" layout-align="start center" style="background: url(assets/images/backgrounds/bg-2.jpg) no-repeat; background-size: cover;">
    <div class="margin-right-20">
        <img src="assets/images/avatars/avatar-4.png" alt="newkid-avatar" class="make-round" width="100"/>
    </div>
    <div class="text-light">
        <h3 class="font-weight-600 margin-bottom-0"><a href="#" class="text-light"></a>Create a Family</h3>
        <p class="font-weight-300 margin-top-0">Make a new family including child's info</p>
         <p class="font-weight-300 margin-top-0">2 STEP : Kid's profile and parent's profile</p>
     </div>
</div>

<div layout="row" class="profile" layout-wrap>
    <div flex="100" flex-gt-md="100">
        
        <!-- kids tab -->
        <md-tabs md-dynamic-height md-border-bottom md-no-bar>
            <md-tab label="Kid's Profile">
                <md-content class="md-padding md-default-theme">
                    <form name="profile">

                        <!-- repeat kids -->
                        <div ng-repeat="kid in kids">
                            <md-input-container>
                            <label for="name">{{'PROFILE.NAME.LABEL' | translate}}</label>
                            <input id="name" label="name" name="name" type="text" ng-model="kid.name" required/>
                            <div ng-messages="profile.name.$error">
                                <div ng-message when="required">
                                    {{'PROFILE.NAME.PLEASE_ENTER' | translate}}
                                </div>
                            </div>
                            </md-input-container>

                            <md-input-container>
                                <label for="desc">Additional information</label>
                                <textarea id="desc" label="desc" name="desc" ng-model="kid.desc"/>
                            </md-input-container>
                        </div>
                        
                        <md-button class="md-raised md-primary margin-left-0"  ng-click="addKid()">Add a child</md-button>
                    </form>
                </md-content>
            </md-tab>

            <!-- parents tab -->
            <md-tab label="Parents">
                <md-content class="md-padding md-default-theme">
                    <form name="family">
                        
                        <!-- repeat contacts -->
                        <div ng-repeat="contact in contacts">
                            <md-input-container>
                            <label for="name">{{'PROFILE.NAME.LABEL' | translate}}</label>
                            <input id="name" label="name" name="name" type="text" ng-model="contact.name" required/>
                            <div ng-messages="family.name.$error">
                                <div ng-message when="required">
                                    {{'PROFILE.NAME.PLEASE_ENTER' | translate}}
                                </div>
                            </div>
                            </md-input-container>

                            <md-input-container>
                            <label for="relationship">Rlationship</label>
                            <input id="relationship" label="relationship" name="relationship" type="text" ng-model="contact.relationship" required/>
                            <div ng-messages="family.relationship.$error">
                                <div ng-message when="required">
                                    {{'PROFILE.NAME.PLEASE_ENTER' | translate}}
                                </div>
                            </div>
                            </md-input-container>


                            <md-input-container>
                            <label for="email">Email</label>
                            <input id="email" label="email" email="email" type="text" ng-model="contact.email" required/>
                            <div ng-messages="family.email.$error">
                                <div ng-message when="required">
                                    {{'PROFILE.EMAIL.PLEASE_ENTER' | translate}}
                                </div>
                            </div>
                            </md-input-container>

                            <md-input-container>
                            <label for="phone">Phone</label>
                            <input id="phone" label="phone" phone="phone" type="text" ng-model="contact.phone" required/>
                            <div ng-messages="family.phone.$error">
                                <div ng-message when="required">
                                    {{'PROFILE.EMAIL.PLEASE_ENTER' | translate}}
                                </div>
                            </div>
                            </md-input-container>
                        </div>
                        <!-- end repeat -->
                        
                        <md-button class="md-raised md-primary margin-left-0"  ng-click="addContact()">Add a family member</md-button>

                        <md-button class="md-raised md-accent margin-right-0"  ng-click="createFamily()">Create</md-button>

                    </form>
                </md-content>
            </md-tab>
            

        </md-tabs>
    </div>

</div>