<div class="md-toolbar-tools">
    <md-button class="md-icon-button" hide-gt-md ng-click="openSideNav('left')" aria-label="side navigation">
        <md-icon md-font-icon="icon-menu"></md-icon>
    </md-button>

    <h2 breadcrumbs="menu" flex></h2>
    <md-button class="md-icon-button" ng-click="toggleSearch()" aria-label="{{'ADMIN.TOOLBAR.SIDEBAR_TOGGLE' | translate}}">
        <md-icon md-font-icon="icon-search"></md-icon>
    </md-button>

    <input class="toolbar-search" ng-show="showSearch" ng-model="emailSearch" ng-change="filterEmailList(emailSearch)" type="text" placeholder="{{'EMAIL.TOOLBAR.SEARCH' | translate}}">

    <md-button class="md-icon-button" ng-repeat="menu in toolbarMenu" ng-href="#{{menu.url}}" aria-label="{{menu.name}}">
        <md-icon md-font-icon="{{menu.icon}}"></md-icon>
        <md-tooltip>{{menu.name}}</md-tooltip>
    </md-button>
</div>

