<md-dialog aria-label="Mango (Fruit)" flex="30" flex-sm="100">
    <md-toolbar md-theme="{{triSkin.elements.content}}">
        <div class="md-toolbar-tools">
            <h2>
              <span>{{'MENU.TODO.DIALOG.NEW' | translate}}</span>
            </h2>
        </div>
    </md-toolbar>

    <md-divider></md-divider>

  	<md-dialog-content class="sticky-container">
        <div>
      		<form name="taskForm" novalidate>
    	 		<md-input-container>
    	 			<label>{{'MENU.TODO.DIALOG.DESC' | translate}}</label>
    	     		<input ng-model="item.description" class="dialog-close" name="task" required></input>
                    <div ng-messages="taskForm.task.$error">
                        <div ng-message when="required">
                            {{'MENU.TODO.DIALOG.TASKFORM.PLEASE_ENTER' | translate}}
                        </div>
                    </div>
    	     	</md-input-container>
    	     	<md-input-container>
    	     	    <md-select placeholder="{{'MENU.TODO.DIALOG.PRIORITY' | translate}}" ng-model="item.priority">
                        <md-option value="high">{{'MENU.TODO.DIALOG.HIGH' | translate}}</md-option>
    	    			<md-option value="medium">{{'MENU.TODO.DIALOG.MEDIUM' | translate}}</md-option>
    	    			<md-option value="low">{{'MENU.TODO.DIALOG.LOW' | translate}}</md-option>
    	  			</md-select>
    	     	</md-input-container>
         	</form>
        </div>
  	</md-dialog-content>
  	<div class="md-actions" layout="row">
    	<span flex></span>
    	<md-button ng-click="cancel()" class="md-primary">
     		Cancel
    	</md-button>
    	<md-button ng-click="hide()" class="md-primary" ng-disabled="taskForm.$invalid">
      		Ok
    	</md-button>
  	</div>
</md-dialog>