.todo-container {
	background: rgba(100, 100, 100, 0.1);
	position: relative;

	md-card {
		min-width: 400px;
	}

	.slide {
	 	&.ng-enter {
	    	@include slideInRight();
	  	}
	  	&.ng-leave {
	    	@include slideOutRight();
	  	}
	}
}