<div class="padded-content-page todo-container" flex layout="column" layout-align="center center">
	<md-card>
	    <md-toolbar md-theme="{{triSkin.elements.content}}">
	        <h2 class="md-toolbar-tools">
	            {{'MENU.TODO.HEADER' | translate}}
	        </h2>
	    </md-toolbar>
      	<md-card-content>
			<md-list class="margin-bottom-10">
				<md-list-item ng-repeat="message in messages | orderBy:orderTasks" ng-class="{'md-primary': message.priority === 'high', 'md-accent': message.priority === 'medium', 'md-warn': message.priority === 'low'}" class="slide">
					<md-checkbox ng-model="message.selected"></md-checkbox>
					<p>
						{{message.description}}
					</p>
					<md-text-float>
						{{message.priority}}
					</md-text-float>
				</md-list-item>
			</md-list>
        </md-card-content>
    </md-card>

	<md-button class="md-accent md-fab md-fab-bottom-right" ng-click="addTodo($event)" aria-label="add task">
       <md-icon md-font-icon="icon-add"></md-icon>
    </md-button>
</div>